<head>
    <link rel="stylesheet" href="../static/style.css">
</head>
{% extends "CitiesApp_base.html" %}

{% block content %}

    {% include "sidePanel.html" %}
    <div>
        <form method="POST" class="inline-block">
            {% csrf_token %}
            <div class="row"> <!-- Main div for search area -->
                <div class="col-2" id="city">
                    <p id="cityChoice">Choose a city:</p> 
                </div>
                <div class="col-2"> <!-- Form div -->
                    {{ form.city }}
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" type="submit" id="searchBtn">Search</button> <!-- Submit button -->
                    <a href=" {% url 'Cities' %}" class="col-2"><button type="button" class="btn btn-secondary">Reset Search</button></a> <!-- Resets search results so user can search again -->
                </div>
            </div>
        </form>
    </div>
    
    <div>
        {% if cities %}
            {% include "CitiesApp_selection.html" with cities=cities %}
        {% endif %}
    </div>
    <div>
            {% include "CitiesApp_results.html" with results=results %}
    </div>
   

{% endblock %}